# # See variable descriptions in variables.tf for more information
# # The values here are the defaults specified in variables.tf, or sensible examples.

# subscription_id = "7fbc3a8b-268b-4fb9-b1c5-9c84433b378f"
# 
# # cVu-V and cClear-V use cPacket's Azure Marketplace images unless an image ID is given.
# cvu_mp_version = "latest"
# 
# cclear_mp_version = "latest"
# 
# # cvu_image_id = "/subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Microsoft.Compute/galleries/<gallery>/images/cvu-v-mp/versions/<version>"
# 
# # cclear_image_id = "/subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Microsoft.Compute/galleries/<gallery>/images/cclear-v-mp/versions/<version>"
# 
# # Ubuntu VMs stand in for the Corelight sensors when there is no valid Corelight license;
# # the other corelight_* values are then not needed.
# ubuntu = false
#
# corelight_image_id ="/subscriptions/7fbc3a8b-268b-4fb9-b1c5-9c84433b378f/resourceGroups/cicd-images/providers/Microsoft.Compute/images/corelight-22.3.421"
# 
# capture_security_group_id = "/subscriptions/7fbc3a8b-268b-4fb9-b1c5-9c84433b378f/resourceGroups/network-security/providers/Microsoft.Network/networkSecurityGroups/capture"
# 
# management_security_group_id = "/subscriptions/7fbc3a8b-268b-4fb9-b1c5-9c84433b378f/resourceGroups/network-security/providers/Microsoft.Network/networkSecurityGroups/management"
# 
# corelight_license_key_path = "corelight-license.txt"
# 
# tags = {
#   owner = "someone@example.com"
# }
# 
# resource_group = {
#   location = "westus2"
#   name     = "cpacket-corelight"
# }
# 
# cvu_scaling = {
#   min_count     = 3
#   max_count     = 3
#   default_count = 3
# }
# 
# zones = true
# 
# corelight_sensor_community_string = "/"
# 
# cclear_public_ip = true
# 
# capture_subnet = {
#   name = "capture"
#   cidr = "10.0.253.0/24"
# }
# 
# management_subnet = {
#   name = "management"
#   cidr = "10.0.252.0/24"
# }
# 
# gwlb_subnet = {
#   name = "gwlb"
#   cidr = "10.0.251.0/24"
# }
# 
# vnet = {
#   cidr = "10.0.0.0/16"
#   name = "cpacket-corelight"
# }
# 
# cvu_scaleset = {
#   sku          = "Standard_D4ls_v5"
#   storage_type = "Premium_LRS"
# }
# 
# ssh_public_key_file = "~/.ssh/id_ed25519.pub"
# 
# cclear_cloud_init_data = "./cloud-init/cclear.tpl"
# 
# auto_licensing = false
# 
# cclear_license = "<cClear license>"
# 
# cclear_managed_registration = true
